# ==========================
# STS / Eclipse
# ==========================
.metadata/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
*.ipr
*.iws

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Maven
# ==========================
**/target/

# ==========================
# Gradle
# ==========================
**/build/

# ==========================
# Node.js
# ==========================
**/node_modules/

# ==========================
# Environment Files
# ==========================
.env

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# OS Files
# ==========================
Thumbs.db
.DS_Store 
